<nav class="navbar navbar-expand-sm navbar-dark bg-dark nav-bar">
  <div class="container">
    <a class="navbar-brand pointer" routerLink="/">
      <img src="assets/logo.png" width="30" height="30" alt=""> Gsearch
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation" (click)="onCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item pointer" routerLink="/search" routerLinkActive="active" (click)="onCollapse()">
          <a class="nav-link">Search</a>
        </li>
        <li class="nav-item pointer" routerLink="/news" routerLinkActive="active" (click)="onCollapse()">
          <a class="nav-link">New games</a>
        </li>
        <li class="nav-item pointer" routerLink="/ester-egg" routerLinkActive="active" (click)="onCollapse()">
          <a class="nav-link">Easter egg</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="text-muted" target="_blank" href="http://Mustapha-aouas.com">Created with
          <i class="far fa-heart text-danger"></i> by Mustapha Aouas</a>
      </span>
    </div>
  </div>
</nav>