<div class="container" #divRef>
  <div *ngIf="!resolved">
    <div class="row">
      <div class="col-md-6  text-center">
        <h4>Enter Konami code</h4>
        <input type="password" readonly="true" class="form-control" [value]="inputs">
        <button class="btn btn-dark" (click)="onAddInput('1')">
          <i class="fas fa-chevron-circle-up"></i>
        </button>
        <button class="btn btn-dark" (click)="onAddInput('2')">
          <i class="fas fa-chevron-circle-down"></i>
        </button>
        <button class="btn btn-dark" (click)="onAddInput('3')">
          <i class="fas fa-chevron-circle-left"></i>
        </button>
        <button class="btn btn-dark" (click)="onAddInput('4')">
          <i class="fas fa-chevron-circle-right"></i>
        </button>
        <button class="btn btn-danger" (click)="onAddInput('a')">
          A
        </button>
        <button class="btn btn-danger" (click)="onAddInput('b')">
          B
        </button>
        <button class="btn btn-primary" (click)="onAddInput('s')">
          start
        </button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6  text-center">
        <button class="btn btn-" (click)="( inputs = '' )">
          Reset
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="resolved">
    <div class="col-md-6  text-center">
      <h3>Wow you know the konami code!</h3>
      <button class="btn btn-">
        <a href="mailto:aouas.m@gmail.com?subject=ApolloSsc&body=Of course I know it what do you think"> Click me! </a>
      </button>
    </div>
  </div>
</div>