<div class="container">
    <div #divRef>
        <div class="display" *ngIf="requestStatus == 'done'">
            <div class="row">
                <div class="col-lg-4 col-md-6" *ngFor="let item of games">
                    <app-item [game]="item"></app-item>
                </div>
            </div>
            <nav class="navigation">
                <ul class="pagination">
                    <li class="page-item text-primary pointer disabled-" (click)="previous()">
                        <a class="page-link">
                            <i class="fas fa-arrow-circle-left"></i> Previous
                        </a>
                    </li>
                    <li class="page-item text-primary pointer" (click)="next()">
                        <a class="page-link">Next
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="wait" *ngIf="requestStatus == 'wait'">
        <p class="text-center">
            <app-loader></app-loader>
        </p>
    </div>
    <div class="error" *ngIf="requestStatus == 'error'">
        <br>
        <p class="text-center">Oups somethig went wrong!</p>
    </div>
</div>