.item {
    width: 100%; padding: 30px;
    margin-bottom:30px;
    margin-top: 30px;
}

.fixed-height {
    height:70px;
    overflow:hidden;
}

.card-img-top {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    z-index: 2;
}

.loading {
    position: absolute;
    top: 8px;
    right: 0px;
    width: 100%;
    display: inline;
    text-align: center;
    z-index: 1;
}