<div class="card item" #divRef>
  <div class="loading">
    <app-loader></app-loader>
  </div>
  <img class="card-img-top" src="{{ getImg() }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title fixed-height">{{game.name}}</h5>
    <p class="card-text">Release date: {{ dateConverter(game.first_release_date) }}</p>
  </div>
  <ul class="list-group list-group-flush fixed-height">
    <li class="list-group-item">summary: {{game.summary != null ? game.summary.substring(0,40)+'...' : 'N/A'}}</li>
  </ul>
  <div class="card-body text-center">
    <a href="{{ game.url }}" class="card-link pull-right" target="_blank">Details
      <i class="fas fa-external-link-alt"></i>
    </a>
  </div>
</div>