html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

.page {
    padding-bottom: 150px !important;
}

.pointer {
    cursor: pointer;
}

.padding {
    padding: 20px;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}