<div class="container">
  <div class="search-form">
    <form class="card padding">
      <div class="row">
        <div class="col-lg-3 coll">
          <input type="text" class="form-control" placeholder="Title (ex: Tekken 7)" name="name" [(ngModel)]="form.search">
        </div>
        <div class="col-lg-3 coll">
          <select class="form-control" name="platform" [value]="form.platform" (change)="onSearch( (form.platform = $event.target.value) )">
            <option value="">Any platform</option>
            <option value="6">PC</option>
            <option value="48">PlayStation</option>
            <option value="12">Xbox</option>
            <option value="5">Wii</option>
          </select>
        </div>
        <div class="col-lg-3 coll">
          <select class="form-control" name="orderBy" [value]="form.orderBy" (change)="onSearch( (form.orderBy = $event.target.value) )">
            <optgroup label="Descending">
              <option value="rating:desc">Order by ratings</option>
              <option value="name:desc">Order by names</option>
            </optgroup>
            <optgroup label="Ascending">
              <option value="rating:asc">Order by ratings</option>
              <option value="name:asc">Order by names</option>
            </optgroup>
          </select>
        </div>
        <div class="col-lg-3 coll">
          <select class="form-control" name="gameMode" [value]="form.gameMode" (change)="onSearch( (form.gameMode = $event.target.value) )">
            <option value="">Any game mode</option>
            <option value="1">Single player</option>
            <option value="2">Multiplayer</option>
            <option value="3">Co-operative</option>
            <option value="5">MMO</option>
          </select>
        </div>
        <div class="col-lg-3 coll">&nbsp;</div>
        <div class="col-lg-3 coll">
          <div class="form-group row">
            <label for="staticEmail" class="col-4 col-form-label">Page:</label>
            <div class="col-8">
              <input type="number" readonly class="form-control" [value]="+form.page + 1" (change)="onSearch( (form.page = +($event.target.value) - 1) )">
            </div>
          </div>
        </div>
        <div class="col-lg-3 coll">
          <select class="form-control" name="numElementToDisplay" [value]="form.numElementToDisplay" (change)="onSearch( (form.numElementToDisplay = $event.target.value), false )">
            <option value="3">Show 3 games / page</option>
            <option value="6">6 games</option>
            <option value="9">9 games</option>
            <option value="12">12 games</option>
            <option value="15">15 games</option>
          </select>
        </div>
        <div class="col-lg-2 col-sm-6 col-6 coll">
          <button class="btn-primary btn pointer bttn" (click)="onSearch()" title="Search">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="col-lg-1 col-sm-6 col-6 coll">
          <button class="btn btn-danger pointer bttn" (click)="onClear()" title="Resset">
            <i class="far fa-times-circle"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>