<br>
<br>
<br>
<div #homeRef>
  <div class="container">
    <div class="login-container">
      <img class="avatar bg-primary" src="assets/logo.png">
      <div class="form-box">
        <form action="" method="">
          <p>This is a fun coding challenge for Appolo ssc</p>
          <!-- <input name="user" type="text" placeholder="username">
        <input type="password" placeholder="password"> -->
          <button class="btn btn-primary btn-block login pointer" type="submit" (click)="onContinue()">Continue</button>
        </form>
      </div>
    </div>
  </div>
</div>